<app-header></app-header>

<div class="login-container">
  <div class="section-header text-center">
    <img src="../../../assets/img/gcc.png" alt="" />
  </div>

  <div *ngIf="loginError" class="error-message">
    <p>{{ loginErrorMsg }}</p>
  </div>

  <form [formGroup]="loginForm">
    <div class="input-group">
      <span
        class="input-group-addon"
        [class.err-icon]="
          loginForm.controls.email.invalid && loginForm.controls.email.touched
        "
        ><i class="fa fa-envelope"></i
      ></span>
      <input
        type="email"
        class="form-control"
        aria-describedby="basic-addon1"
        placeholder="Email"
        formControlName="email"
        [(ngModel)]="user.email"
        [class.err]="
          loginForm.controls.email.invalid && loginForm.controls.email.touched
        "
        email
        pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
      />
    </div>

    <div class="validation-msgs">
      <div
        class="error-message"
        *ngIf="
          loginForm.controls.email.touched &&
          loginForm.controls.email.errors?.required
        "
      >
        <p>* Email is required.</p>
      </div>
      <div
        class="error-message"
        *ngIf="
          loginForm.controls.email.touched &&
          loginForm.controls.email.errors?.pattern
        "
      >
        <p>* invalid email address.</p>
      </div>
    </div>

    <div class="input-group">
      <span
        class="input-group-addon"
        [class.err-icon]="
          loginForm.controls.email.invalid && loginForm.controls.email.touched
        "
        ><i class="fa  fa-key"></i
      ></span>
      <input
        class="form-control"
        type="password"
        placeholder="Password"
        formControlName="password"
        [(ngModel)]="user.password"
        [class.err]="
          loginForm.controls.password.invalid &&
          loginForm.controls.password.touched
        "
      />
    </div>
    <div class="validation-msgs">
      <div
        class="error-message"
        *ngIf="
          loginForm.controls.password.invalid &&
          loginForm.controls.password.touched
        "
      >
        <p>* Password is required!</p>
      </div>
    </div>
    <div class="forget-password">
      <a routerLink="/forget-password">Forget Password ?</a>
    </div>
    <div class="login-btn">
      <button (click)="onLogin()" type="submit" class="main-btn">
        Login
        <span *ngIf="isLoading"><i class="fa fa-spinner fa-spin"></i></span>
      </button>
      <span class="or-span">Or</span>
      <button (click)="loginWithFB()" class="loginBtn loginBtn--facebook">
        Login with Facebook
      </button>
    </div>
  </form>
  <div class="divider"></div>
  <div class="register-info">
    <a href="#signupButtons">Don't have account yet ?</a>
    <div class="login-btn" id="signupButtons">
      <a routerLink="/register" class="btn outline-btn">SignUp</a>
      <span class="or-span">Or</span>
      <button (click)="signupWithFB()" class="loginBtn loginBtn--facebook">
        SignUp with Facebook
      </button>
    </div>
  </div>
  <ngx-spinner
    bdColor="rgba(51, 51, 51, 0.8)"
    size="medium"
    color="#b9638e"
    type="ball-triangle-path"
  >
    <p style="font-size: 20px; color: white">Loading ...</p>
  </ngx-spinner>
</div>
