<app-header></app-header>

<div id="registration-form">
  <!-- Section-header -->
  <div class="section-header text-center">
    <img src="../../../assets/img/solveit-logo12.png" alt="" />
  </div>
  <div class="title-container">
    <h5 class="title">Request Password Change</h5>
  </div>
  <!-- /Section-header -->
  <div class="login-error" *ngIf="error"><p>User not found.</p></div>
  <div class="alert alert-success" *ngIf="requestSucess">
    <strong>Request Successful!</strong> Your request is submitted successfully.
    Confirmation link is sent to your email, so please check your email and
    follow the given link.
  </div>
  <form [formGroup]="forgetPasswordForm" *ngIf="!requestSucess">
    <div class="input-field">
      <input
        class="input"
        type="email"
        placeholder="Email"
        formControlName="email"
        [(ngModel)]="email"
        [class.err]="
          forgetPasswordForm.controls.email.invalid &&
          forgetPasswordForm.controls.email.touched
        "
        email
        pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
      />
      <div
        class="error-message"
        *ngIf="
          forgetPasswordForm.controls.email.touched &&
          forgetPasswordForm.controls.email.errors?.required
        "
      >
        <p>* Email is required.</p>
      </div>
      <div
        class="error-message"
        *ngIf="
          forgetPasswordForm.controls.email.touched &&
          forgetPasswordForm.controls.email.errors?.pattern
        "
      >
        <p>* invalid email address.</p>
      </div>
    </div>
    <div class="login-btn">
      <button (click)="requestForgotPassword()" type="submit" class="main-btn">
        Submit
        <span *ngIf="isLoading"><i class="fa fa-spinner fa-spin"></i></span>
      </button>
    </div>
  </form>
</div>
