#registration-form {
  width: 40%;
  padding: 6em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  margin: 7% auto 10%;
}

form {
  width: 80%;
  margin: auto;
}

input {
  background: #ffffff;
  border-bottom: 1px solid #a29a9a;
}

input:focus {
  background: #fff;
}

.input-field {
  margin-bottom: 1em;
}

.login-link {
  margin-top: 2em;
}

.login-link p {
  text-align: center;
}

.error-message p {
  font-size: 0.7em;
  text-align: center;
  color: #ec4643;
}

.err {
  border-color: #ec4643;
}

.login-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.login-btn button {
}

.login-error {
  margin-bottom: 2em;
  background: #e4b1b1;
  color: white;
  padding: 1em;
}

.login-error p {
  text-align: center;
}

img {
  width: 7em;
}

.forget-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  #registration-form {
    width: 40%;
    padding: 6em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: 7% auto 10%;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  #registration-form {
    width: 40%;
    padding: 6em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: 7% auto 10%;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #registration-form {
    width: 80%;
    padding: 6em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: 7% auto 10%;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  #registration-form {
    width: 90%;
    padding: 6em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: 7% auto 10%;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  #registration-form {
    width: 95%;
    padding: 6em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: 7% auto 10%;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
