.forum-list {
  margin-bottom: 18em;
}

.table {
  width: 80%;
  margin: auto;
}

#projects-list-content {
  margin: 3em auto 3em;
}

.projects-pagination {
  margin: 4em auto 2em;
}

.no-resource-found {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 50%;
  margin: 5em auto;
  padding: 3em;
}

#projects-list-content > div:nth-child(2) > div:nth-child(1) > div > a {
  cursor: pointer;
}

tr {
  cursor: pointer;
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.forums-list-content {
  padding: 1em;
}

th,
td {
  border: none;
  border-bottom: 1px solid #dddddd6e;
}

footer {
  margin-top: 8em;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd6;
}

.forum-lists {
}

.single-forum {
  clear: both;
  cursor: pointer;
  padding: 0.5em;
}

.single-forum:hover {
  background: #dddddd6e;
}

.single-forum-header {
  font-weight: bold;
  font-size: 1.3em;
  margin: 0.7em auto;
  color: #b9638e;
}

.single-forum-header > i {
  margin-right: 1em;
}

.single-forum-content,
.single-forum-properties > ul > li {
  text-align: justify;
  margin: 1em;
}

.single-forum-properties > ul {
  display: inline;
}

.single-forum-properties > ul > li {
  float: left;
  padding-right: 1em;
  border-right: 1px solid;
  margin-right: 1em;
  font-style: italic;
  font-size: 0.8em;
}

.single-forum-properties > ul > li > span {
  font-weight: bold;
}

.single-forum-footer {
  clear: both;
  border-bottom: 1px solid #dddddd6e;
}
