<app-header></app-header>
<!--
  <div id="sponsors">
    <img src="../../../assets/img/sponsors.jpg">
  </div>
-->

<div class="container">
  <div class="partner-sponsors">
    <h4 class="title">Official Partners</h4>
    <div class="row">
      <div class="col-sm-3">
        <div class="sponsor-img cube">
          <img src="../../../assets/img/sponsors/FeSMMIDA.jpg" alt="" />
        </div>
        <div class="sponsor-name">
          Federal Small & Medium Manufacturing Industries Development Agency
        </div>
      </div>
      <div class="col-sm-3">
        <div class="sponsor-img cube">
          <img src="../../../assets/img/sponsors/urban-jobs.jpg" alt="" />
        </div>
        <div class="sponsor-name">
          Federal Urban Job Creation and Food Security Agency
        </div>
      </div>
      <div class="col-sm-3">
        <div class="sponsor-img cube">
          <img
            src="../../../assets/img/sponsors/AddisAbabaCityAdmin.jpg"
            alt=""
          />
        </div>
        <div class="sponsor-name">Addis Ababa City Administration</div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="partner-sponsors">
    <h4 class="title">Partner Universties</h4>
    <div class="row">
      <div class="col-sm-3">
        <div class="sponsor-img cube">
          <img
            src="../../../assets/img/sponsors/Mekelel_University_logo.jpg"
            alt=""
          />
        </div>
        <div class="sponsor-name">Mekelle University</div>
      </div>
      <div class="col-sm-3">
        <div class="sponsor-img cube">
          <img src="../../../assets/img/sponsors/hawasa.jpg" alt="" />
        </div>
        <div class="sponsor-name">Hawassa University</div>
      </div>
      <div class="col-sm-3">
        <div class="sponsor-img cube">
          <img src="../../../assets/img/sponsors/aksum.jpg" alt="" />
        </div>
        <div class="sponsor-name">Aksum University</div>
      </div>

      <div class="col-sm-3">
        <div class="sponsor-img cube">
          <img src="../../../assets/img/sponsors/driedawa.jpg" alt="" />
        </div>
      </div>
      <div class="sponsor-name">Dire Dawa University</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="sponsor-img cube">
        <img src="../../../assets/img/sponsors/jimma.jpg" alt="" />
      </div>
      <div class="sponsor-name">Jimma University</div>
    </div>
    <div class="col-sm-3">
      <div class="sponsor-img cube">
        <img src="../../../assets/img/sponsors/gondar.jpg" alt="" />
      </div>
      <div class="sponsor-name">University of Gondar</div>
    </div>
    <div class="col-sm-3">
      <div class="sponsor-img cube">
        <img src="../../../assets/img/sponsors/bahirdar.jpg" alt="" />
      </div>
      <div class="sponsor-name">Bahir Dar University</div>
    </div>
    <div class="col-sm-3">
      <div class="sponsor-img cube">
        <img src="../../../assets/img/sponsors/40minch.jpg" alt="" />
      </div>
      <div class="sponsor-name">Arba Minch University</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="sponsor-img cube">
        <img src="../../../assets/img/sponsors/jijiga.jpg" alt="" />
      </div>
      <div class="sponsor-name">Jigjiga University</div>
    </div>
    <div class="col-sm-3">
      <div class="sponsor-img cube">
        <img src="../../../assets/img/sponsors/samara.jpg" alt="" />
      </div>
      <div class="sponsor-name">Samara University</div>
    </div>
    <div class="col-sm-3">
      <div class="sponsor-img cube">
        <img src="../../../assets/img/sponsors/assosa.jpg" alt="" />
      </div>
      <div class="sponsor-name">Assosa University</div>
    </div>
    <div class="col-sm-3">
      <div class="sponsor-img cube">
        <img src="../../../assets/img/sponsors/gabela.jpg" alt="" />
      </div>
      <div class="sponsor-name">Gambella University</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="sponsor-img cube">
        <img src="../../../assets/img/sponsors/haramaya.jpg" alt="" />
      </div>
      <div class="sponsor-name">Haramaya University</div>
    </div>
    <div class="col-sm-3">
      <div class="sponsor-img cube">
        <img src="../../../assets/img/sponsors/harambee.jpg" alt="" />
      </div>
      <div class="sponsor-name">Harambee University College</div>
    </div>
  </div>
</div>
