<div id="registration-form">
  <!-- Section-header -->
  <div class="section-header text-center">
    <img src="../../../assets/img/solveit-logo12.png" alt="" />
  </div>
  <div class="title-container"><h5 class="title">New Password</h5></div>
  <div class="alert alert-success" *ngIf="isSuccess">
    <strong>Password Changed Successfully!</strong>
    <a routerLink="/login">login here.</a>
  </div>
  <!-- /Section-header -->
  <form [formGroup]="newPasswordForm" *ngIf="!isSuccess">
    <div class="input-field">
      <input
        class="input"
        type="password"
        name="password"
        formControlName="password"
        placeholder="New Password"
        [(ngModel)]="password"
        minlength="8"
      />
      <div
        class="error-message"
        *ngIf="
          newPasswordForm.controls.password.errors?.required &&
          newPasswordForm.controls.password.touched
        "
      >
        <p>* Password is required.</p>
      </div>
      <div
        class="error-message"
        *ngIf="
          newPasswordForm.controls.password.errors?.minlength &&
          newPasswordForm.controls.password.touched
        "
      >
        <p>* Password must be at least 8 characters.</p>
      </div>
    </div>
    <div class="input-field">
      <input
        class="input"
        type="password"
        name="rePassword"
        formControlName="rePassword"
        placeholder="Confirm Password"
        [(ngModel)]="rePassword"
      />
      <div
        class="error-message"
        *ngIf="
          newPasswordForm.controls.rePassword.touched &&
          newPasswordForm.controls.rePassword.errors?.required
        "
      >
        <p>* Confirm your password.</p>
      </div>
      <div
        class="error-message"
        *ngIf="
          newPasswordForm.controls.rePassword.touched &&
          newPasswordForm.controls.rePassword.errors?.MatchPassword
        "
      >
        <p>* * Password not match.</p>
      </div>
    </div>
    <div class="login-btn">
      <button
        (click)="resetPassword(key[0], password)"
        type="submit"
        class="main-btn"
      >
        Submit
        <span *ngIf="isLoading"><i class="fa fa-spinner fa-spin"></i></span>
      </button>
    </div>
  </form>
</div>
