.top-projects {
  /* height: 150vh; */
  margin: 4em auto 16em;
}

.top-projects-menu {
  margin-right: 1.5em;
  padding: 1em;
  -webkit-box-shadow: 4px 8px 26px -6px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 4px 8px 26px -6px rgba(0, 0, 0, 0.46);
  box-shadow: 4px 8px 26px -6px rgba(0, 0, 0, 0.46);
}

.top-projects-menu-item {
  padding: 0.5em;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.top-projects-menu-item:hover {
  background: #efefef;
  border: none;
  padding: 1em;
}

.top-projects-menu-item-selected {
  color: #b9638e;
}

.icon {
  margin-right: 0.5em;
}

.dashboard-container {
  margin-bottom: 30em;
}
