<form [formGroup]="competitionWinnerForm" *ngIf="authService.isAuthenticated()">
  <h4 class="title" id="form-title">Add Competition Winner</h4>
  <div id="resource-form">
    <div class="input-field" style="margin-top: 1em">
      <select name="competition" class="form-control" id="competition" [(ngModel)]="competitionWinner.competitionId"
        formControlName="competition">
        <option selected value="">Select Competition</option>
        <option *ngFor="let competition of competitions" value="{{competition.id}}">{{ competition.name }}</option>
      </select>
      <div class="error-message" *ngIf="
          competitionWinnerForm.controls.competition.invalid &&
          competitionWinnerForm.controls.competition.touched
        ">
        <p>* Competition is required.</p>
      </div>
    </div>

    <div class="input-field" style="margin-top: 1em">
      <select class="form-control" name="city" id="city" [(ngModel)]="competitionWinner.city"
        (change)="filterProjectByCity()" formControlName="city">
        <option selected value="">Select City</option>
        <ng-container *ngFor="let city of cities">
          <option value="{{city.id}}">
            {{ city.name }}</option>
        </ng-container>
      </select>
      <div class="error-message" *ngIf="
          competitionWinnerForm.controls.project.invalid &&
          competitionWinnerForm.controls.project.touched
        ">
        <p>* Project is required.</p>
      </div>
    </div>

    <div class="input-field" style="margin-top: 1em">
      <select class="form-control" name="project" id="project" [(ngModel)]="competitionWinner.projectId"
        formControlName="project">
        <option selected value="">Select Project</option>
        <ng-container *ngFor="let project of projects">
          <option *ngIf="project.solveitproject" value="{{project.solveitproject.id}}">
            {{ project.solveitproject.title }}</option>
        </ng-container>
      </select>
      <div class="error-message" *ngIf="
          competitionWinnerForm.controls.project.invalid &&
          competitionWinnerForm.controls.project.touched
        ">
        <p>* Project is required.</p>
      </div>
    </div>

    <div class="input-field" style="margin-top: 1em">
      <div class="upload-btn-wrapper">
        <button class="btn-custom">Select Project Thumbinal</button>
        <input id="6666" type="file" (change)="handleFileSelection($event)" ng2FileSelect [uploader]="uploader" />
      </div>
      <div *ngIf="isFileSelected" class="preview">
        <img [src]="filePreviewPath" alt="">
      </div>
      <div class="error-message" *ngIf="!isFileSelected && isCreateButtonClicked">
        <p>* Project Thumbinal is required.</p>
      </div>

    </div>

    <div class="form-group" id="resource-upload-btn">
      <input type="button" (click)="addCompetitionWinner()" class="main-btn" value="Create" />
    </div>
  </div>
</form>
<ng2-toasty [position]="'top-right'"></ng2-toasty>