<!-- Header -->
<header id="home">
  <!-- Background Video -->
  <!-- Background Image -->
  <div
    class="bg-img"
    style="background-image: url('../../assets/img/landing-page.jpg');"
  >
    <div class="overlay">
      <h3 class="girls">Girls Can</h3>
      <h3 class="code">Code</h3>
      <a id="learn-more">Learn More</a>
    </div>
  </div>
  <!-- /Background Image -->
  <!-- /Background Video -->

  <!-- Nav -->
  <nav id="nav" class="navbar nav-transparent">
    <div class="container">
      <div class="navbar-header">
        <!-- Logo -->
        <div class="navbar-brand">
          <a routerLink="">
            <img
              style="padding: 0.1em"
              class="logo"
              src="../../assets/img/gcc.png"
              alt="logo"
            />
            <img class="logo-alt" src="../../assets/img/gcc.png" alt="logo" />
          </a>
        </div>
        <!-- /Logo -->

        <!-- Collapse nav button -->
        <div
          class="navbar-toggler nav-collapse"
          type="button"
          data-toggle="collapse"
          data-target="#menus"
          aria-controls="menus"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon" style="color: #FFFFFF;"></span>
        </div>

        <!-- /Collapse nav button -->
      </div>

      <!-- Main navigation -->
      <div class="collapse navbar-collapse" id="menus">
        <ul class="nav navbar-nav navbar-right">
          <li [class.active]="router.isActive('', true)">
            <a routerLink="">Home</a>
          </li>
          <li *ngIf="router.isActive('', true)"><a href="#about">About</a></li>
          <li
            [class.active]="router.isActive('dashboard', false)"
            *ngIf="authService.isAuthenticated()"
          >
            <a routerLink="/certifications">Certification</a>
          </li>
          <li [class.active]="router.isActive('events', false)">
            <a routerLink="/events">Events</a>
          </li>
          <li [class.active]="router.isActive('forums', false)">
            <a routerLink="/forums">Forums</a>
          </li>
          <!--
            <li [class.active]="router.isActive('news', false)">
              <a routerLink="/news">News</a>
            </li>
          -->
          <li [class.active]="router.isActive('resources', false)">
            <a routerLink="/resources" *ngIf="authService.isAuthenticated()"
              >Resources</a
            >
          </li>
          <li
            [class.active]="
              router.isActive('login', false) ||
              router.isActive('register', false) ||
              router.isActive('forget-password', false)
            "
            *ngIf="!authService.isAuthenticated()"
          >
            <a routerLink="/login">SignIn/SignUp</a>
          </li>
          <li
            [class.active]="router.isActive('my-projects', false)"
            *ngIf="authService.isAuthenticated()"
            class="has-dropdown"
          >
            <a
              ><span style="margin-right: .5em;"
                ><i class="fa fa-user"></i></span
              >{{ "" }}</a
            >
            <ul class="dropdown1">
              <li *ngIf="authService.isSolveitParticipant()">
                <a routerLink="/my-projects">My Projects</a>
              </li>
              <li *ngIf="!authService.isAdmin()">
                <a
                  [routerLink]="[
                    '/dashboard/userProfile',
                    authService.getUserId()
                  ]"
                  >Profile</a
                >
              </li>
              <li>
                <a
                  routerLink=""
                  (click)="authService.signOut()"
                  style="cursor: pointer;"
                  >Logout</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /Main navigation -->
    </div>
  </nav>
  <!-- /Nav -->

  <!-- home wrapper -->
  <div class="home-wrapper">
    <div class="container">
      <div class="row">
        <!-- home content -->
        <div class="col-md-10 col-md-offset-1">
          <div class="home-content">
            <!-- <h1 class="white-text">We Are Creative Agency</h1> -->
            <!--
              <p class="white-text">Morbi mattis felis at nunc. Duis viverra diam non justo. In nisl. Nullam sit amet magna in magna gravida vehicula. Mauris tincidunt sem sed arcu. Nunc posuere.
            -->
            <!-- </p> -->
            <!-- <button class="white-btn">Be A Part & Compete</button> -->
            <!-- <button class="main-btn">Winner Projects</button> -->
          </div>
        </div>
        <!-- /home content -->
      </div>
    </div>
  </div>
  <!-- /home wrapper -->
</header>
<!-- /Header -->

<!-- Why Choose Us -->
<div id="about" class="section md-padding bg-grey">
  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <div
      class="row"
      style="display: flex; flex-direction: column; align-items: center"
    >
      <div class="col-md-6">
        <!-- why choose us content -->
        <div class="section-header"><h2 class="title">About GCC</h2></div>
        <p>
          Girls Can Code (GCC) is a project initiated by the U.S. Embassy, aimed
          to equip and inspire female high school students with computer coding
          and leadership skills. Since its launch in October 2015, GCC has
          trained more than 350 girls from different public schools in Addis
          Ababa, Bahar Dar, Jimma, Dire Dawa and Mekelle. Currently, the Embassy
          is partnering with iCog Labs-ACC to implement the GCC Next Generation
          camps in 10 public universities and 4 American Corners to inspire more
          girls in different locations.
        </p>
      </div>
      <!-- /About slider -->
    </div>
    <!-- /Row -->
  </div>
  <!-- /Container -->
</div>
<!-- /Why Choose Us -->

<!-- Service -->
<div id="service" class="section md-padding">
  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <div class="row">
      <!-- Section header -->
      <div class="section-header text-center">
        <h2 class="title">What we offer</h2>
      </div>
      <!-- /Section header -->

      <!-- service -->
      <div class="col-md-4 col-sm-6">
        <div class="service">
          <i class="fa fa-cogs"></i>
          <h3>GCC Toolkit</h3>
          <p>
            The GCC toolkit includes training materials and other necessary
            items to help trainers promote, deliver and monitor the camps.
          </p>
        </div>
      </div>
      <!-- /service -->

      <!-- service -->
      <div class="col-md-4 col-sm-6">
        <div class="service">
          <i class="fa fa-handshake-o"></i>
          <h3>TRAINING OF TRAINERS</h3>
          <p>
            All GCC Next Gen trainers receive an intensive Training of Trainers
            mainly focusing on the methodology of the content.
          </p>
        </div>
      </div>
      <!-- /service -->

      <!-- service -->
      <div class="col-md-4 col-sm-6">
        <div class="service">
          <i class="fa fa-briefcase"></i>
          <h3>GCC NEXT GEN CAMP</h3>
          <p>
            We work with partnering institutions to host camps for girls who are
            enrolling in public school to give coding and life skill training
            for free.
          </p>
        </div>
      </div>
      <!-- /service -->

      <!-- service -->
      <div class="col-md-6 col-sm-6">
        <div class="service">
          <i class="fa fa-globe"></i>
          <h3>ALUMNI ENGAGEMENT and NETWORKING</h3>
          <p>
            Facilitate GCC alumni (trainers and students) engagement with each
            other, with professionals in the industry and institutions with
            constant mentorship and follow up.
          </p>
        </div>
      </div>
      <!-- /service -->

      <!-- service -->
      <div class="col-md-6 col-sm-6">
        <div class="service">
          <i class="fa fa-usd"></i>
          <h3>CAT</h3>
          <p>
            Students required to take and pass the CAT (CONTINUOUS ASSESSMENT
            TEST) to continue to the next level. And also awarded with
            certifications.
          </p>
        </div>
      </div>
      <!-- /service -->

      <!-- service -->
    </div>
    <!-- /Row -->
  </div>
  <!-- /Container -->
</div>
<!-- /Service -->

<div class="img-carosole">
  <div class="section-header text-center"><h2 class="title">Bahir Dar</h2></div>

  <owl-carousel
    [options]="mySlideOptions"
    [items]="bdImages"
    [carouselClasses]="['owl-theme', 'sliding']"
  >
    <div class="item" *ngFor="let image of bdImages; let i = index">
      <div><img src="{{image}}" /></div>
    </div>
  </owl-carousel>
</div>

<div class="img-carosole">
  <div class="section-header text-center">
    <h2 class="title">Jimma University</h2>
  </div>

  <owl-carousel
    [options]="mySlideOptions"
    [items]="juImages"
    [carouselClasses]="['owl-theme', 'sliding']"
  >
    <div class="item" *ngFor="let image of juImages; let i = index">
      <div><img src="{{image}}" /></div>
    </div>
  </owl-carousel>
</div>

<div class="img-carosole">
  <div class="section-header text-center">
    <h2 class="title">Jimma American Corner</h2>
  </div>

  <owl-carousel
    [options]="mySlideOptions"
    [items]="jacpImages"
    [carouselClasses]="['owl-theme', 'sliding']"
  >
    <div class="item" *ngFor="let image of jacpImages; let i = index">
      <div><img src="{{image}}" /></div>
    </div>
  </owl-carousel>
</div>

<div class="img-carosole">
  <div class="section-header text-center"><h2 class="title">Mekelle</h2></div>

  <owl-carousel
    [options]="mySlideOptions"
    [items]="mekeleImages"
    [carouselClasses]="['owl-theme', 'sliding']"
  >
    <div class="item" *ngFor="let image of mekeleImages; let i = index">
      <div><img src="{{image}}" /></div>
    </div>
  </owl-carousel>
</div>

<!-- Testimonial -->
<div
  id="testimonial"
  class="section md-padding"
  *ngIf="!authService.isAuthenticated() && false"
>
  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <!-- /Background Image -->
    <div class="row register-now-container">
      <h2 style="text-align: center">Register For SolveIT 2019 Now</h2>
      <a routerLink="/register" class="outline-btn">Register</a>
    </div>
    <!-- /Row -->
  </div>
  <!-- /Container -->
</div>
<!-- /Testimonial -->

<!-- Contact -->
<div id="contact" class="section md-padding">
  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <div class="row">
      <!-- Section-header -->
      <div class="section-header text-center">
        <h2 class="title">Get in touch</h2>
      </div>
      <!-- /Section-header -->

      <!-- contact -->
      <div class="col-sm-4">
        <div class="contact">
          <i class="fa fa-phone"></i>
          <h3>Phone</h3>
          <p>+251 118 62-5056</p>
        </div>
      </div>
      <!-- /contact -->

      <!-- contact -->
      <div class="col-sm-4">
        <div class="contact">
          <i class="fa fa-envelope"></i>
          <h3>Email</h3>
          <p>info@gccethiopia.com</p>
        </div>
      </div>
      <!-- /contact -->

      <!-- contact -->
      <div class="col-sm-4">
        <div class="contact">
          <i class="fa fa-map-marker"></i>
          <h3>Address</h3>
          <p>
            Addis Ababa, Bole, Yeshi Building, 10th Floor, Infront of Bole
            printing
          </p>
        </div>
      </div>
      <!-- /contact -->
    </div>
    <!-- /Row -->
  </div>
  <!-- /Container -->
</div>
<!-- /Contact -->
