.blog-img img {
  width: 100%;
}

.work-link a {
  cursor: pointer;
}

.register-now-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.register-now-container a {
  padding: 1em 2em;
  font-size: 1.2em;
  cursor: pointer;
  color: #ffffff;
  border-color: #ffffff;
}

#testimonial {
  background-color: #b9638e;
}

.outline-btn {
  color: #ffffff !important;
}

#about-slide {
  display: flex;
  align-items: center;
  margin-top: 8em;
}

.sponsor-logo {
  float: left;
}

ul.dropdown1 {
  background: #b9638e;
  padding: 1.5em;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  ul.dropdown1 {
    margin: 3em 4em 0 0;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  ul.dropdown1 {
    margin: 3em 4em 0 0;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  ul.dropdown1 {
    margin: 3em 4em 0 0;
  }
}

::ng-deep .navbar-nav a {
  color: #000000;
}

::ng-deep .active > a {
  color: #b9638e;
}

.girls,
.can,
.code {
  color: white;
  margin-right: 20px;
  font-size: 4em;
  font-family: Helvetica, sans-serif;
}

.code {
  font-size: 4em;
  font-weight: "bold";
}

#learn-more {
  color: #b9638e;
  background: white;
  padding: 10px 30px;
  border-radius: 50px;
  margin-right: 20px;
  font-family: fantasy;
  cursor: pointer;
}
.img-carosole {
  background: none;
  margin-top: 4em;
}

.archive {
  padding: 1.5em 2em;
  border-radius: 5em;
  background-image: url("../../assets/img/card-bg.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.archive > h5 {
  text-align: center;
  color: white;
  margin-bottom: -0.1em;
}

.archive > h5:hover {
  text-decoration: underline;
}
