<div class="questionariesForm">
  <form>
    <h4 class="title">What kind of product are you going to develop for this competition?</h4>
    <div class="input-field">
      <input id="" type="radio" >
      <label for="">Software (for Mobile Application)</label>
      <div class="error-message" *ngIf="true">
        <p>* Region is required.</p>
      </div>
    </div>
    <div class="input-field">
      <input id="" type="radio" >
      <label for="">Software (for Mobile Application)</label>
      <div class="error-message" *ngIf="true">
        <p>* Region is required.</p>
      </div>
    </div>
    <div class="input-field">
      <input id="" type="radio" >
      <label for="">Software (for Mobile Application)</label>
      <div class="error-message" *ngIf="true">
        <p>* Region is required.</p>
      </div>
    </div>
    <div class="input-field">
      <input id="" type="radio" >
      <label for="">Software (for Mobile Application)</label>
      <div class="error-message" *ngIf="true">
        <p>* Region is required.</p>
      </div>
    </div>
    <div class="input-field">
      <input id="" type="radio" >
      <label for="">Software (for Mobile Application)</label>
      <div class="error-message" *ngIf="true">
        <p>* Region is required.</p>
      </div>
    </div>
  </form>
</div>
