<form [formGroup]="optionForm" *ngIf="authService.isAuthenticated()">
  <h4 class="title" id="form-title">Export Data</h4>
  <div id="resource-form">
    <div class="form-group" style="margin-top: 1em">
      <label>Gender:</label>
      <select
        class="form-control"
        name="role"
        id="role"
        [(ngModel)]="selectionOptions.sex"
        formControlName="sex"
      >
        <option selected value="both">Both</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
    </div>
    <div class="form-group" style="margin-top: 1em">
      <label>Education Level:</label>
      <select
        class="form-control"
        name="role"
        id="role"
        [(ngModel)]="selectionOptions.educationLevel"
        formControlName="educationLevel"
      >
        <option selected value="none">None</option>
        <option *ngFor="let level of educationLevels" value="{{level}}">{{level.toUpperCase()}}</option>
      </select>
    </div>
    <div class="form-group" style="margin-top: 1em">
      <label>City:</label>
      <select
        class="form-control"
        name="role"
        id="role"
        [(ngModel)]="selectionOptions.selectedCity"
        formControlName="city"
      >
        <option selected value="0">Select City</option>
        <option *ngFor="let city of cities" value="{{city.id}}">{{
          city.name
        }}</option>
      </select>
    </div>
    <div class="form-group" id="resource-upload-btn">
      <input
        type="button"
        [disabled]="!optionForm.valid"
        (click)="exportReport()"
        class="main-btn"
        value="Export Data"
      />
    </div>
  </div>
</form>
